$legacy_support_for_ie: false !default; // Used also in Compass

// Set the default font family here so you don't have to override it later
$normalized_font_family: sans-serif !default;

$normalize_headings: true !default;

$h1_font_size: 2em !default;
$h2_font_size: 1.5em !default;
$h3_font_size: 1.17em !default;
$h4_font_size: 1em !default;
$h5_font_size: 0.83em !default;
$h6_font_size: 0.75em !default;

$h1_margin: 0.67em 0 !default;
$h2_margin: 0.83em 0 !default;
$h3_margin: 1em 0 !default;
$h4_margin: 1.33em 0 !default;
$h5_margin: 1.67em 0 !default;
$h6_margin: 2.33em 0 !default;

$background: #e9eaed !default;
$color: #000 !default;

$black: rgb(0, 0, 0);
$gray10: rgb(26, 26, 26);
$gray20: rgb(51, 51, 51);
$gray30: rgb(77, 77, 77);
$gray40: rgb(102, 102, 102);
$gray50: rgb(125, 125, 125);
$gray60: rgb(153, 153, 153);
$gray70: rgb(172, 172, 172);
$gray80: rgb(204, 204, 204);
$gray90: rgb(226, 226, 226);
$gray100: rgb(242, 242, 242);
$white: rgb(255, 255, 255);
$modal_opacity: 0.7;
$modal_background_color: rgba(0,0,0,$modal_opacity);
